<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Hello , @ViewBag.Name from the View File</h1>

    @{
        for(int i = 0 ; i < ViewBag.Number ; i++)
        {
            <p>the number is  @i </p>
        }
    }
    
</body>
</html>