<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>Hello , @ViewBag.Name from the View File</h1>

    @{
        for(int i = 0 ; i < ViewBag.Number ; i++)
        {
            <p>the number is  @i </p>
        }
    }

    <form action="process" method="post">
        <label for="FavoriteAnimal"> Tell me your favorite animal </label>
        <input type="text" name="FavoriteAnimal">
        <input type="submit" value="Submit">
        <span>
            @{
                if(ViewBag.Error == null)
                {
                    <p></p>
                }
                else 
                {
                    <p> @ViewBag.Error </p>
                    <img src="~/images/cat.jpg" alt="cat">
                }

            }
        </span>
    </form>
    
</body>
</html>