@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="display-4">Welcome @Context.Session.GetString("Username")</h1>


<form action="/logout" method="post">

<input type="submit" value="Logout" class="btn btn-danger">

</form>